{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "babel-plugin-direct-import",
            {
                "modules": ["@mui/material", "@mui/icons-material"]
            }
        ]
    ],
    "targets": "last 2 Chrome versions"
}
