.game-folder-input {
    width: 150px;
    display: inline-block !important;
    background-color: white;

    margin: {
        right: 10px;
        bottom: 10px;
    }
}

.manual-initial {
    width: 15px !important;
    margin-left: 5px;
}
