@import 'styles/bootstrap/bootstrap.min.css';
@import 'styles/main';

body {
    margin-top: 10px;
    background-color: white;
}

.content {
    margin-left: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;

    font: {
        size: 25px;
        weight: bold;
        family: Arial, Helvetica, sans-serif;
    }
}
