.group-export {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 16px;
    z-index: 5;
    height: 18px;
    width: 23px !important;
}

.group {
    img {
        position: absolute;
        right: 37px;
    }
}
