@import 'styles/main';
@import 'styles/editor/AddonsPopup';
@import 'styles/editor/Coordinates';
@import 'styles/editor/File';
@import 'styles/editor/Group';
@import 'styles/editor/Parameter';

%table-item {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    height: 100%;
    width: 50%;
    overflow: visible;
}

%table-li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #78899d;
    box-sizing: border-box;
}

@mixin img($name) {
    background: url(images/icons/editor/#{$name}) 50% no-repeat;
}

@mixin editor-menu-button($left: auto, $right: auto) {
    transition: all 1s ease 0s;
    position: absolute;
    top: 22px;
    width: 32px;
    left: $left;
    right: $right;
    height: 32px;
    border: none;
    filter: invert(1);
    display: block;
    margin-top: 10px;

    &:hover {
        filter: contrast(0.8) invert(1);
    }
}

.desc {
    width: 36px;
    height: 36px;
    @include img('info.png');
    position: absolute;
    top: 0;
    right: 0;
    cursor: help;
}

.openFile {
    margin-right: 20px;
}

.open-file-button {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 20px;
    height: 20px;
    @include img('pencil.png');
    filter: invert(1);
}

h1#error {
    text-align: center;
    color: red;
    font-weight: bold;
    display: none;
}

.accordion-button {
    &::after {
        position: absolute;
        right: 10px;
    }

    &:not(.collapsed) {
        color: black;
        border-bottom-left-radius: 5px !important;
        border-bottom-right-radius: 0 !important;
    }
}

.accordion-item {
    border: none;
    background: none;
    position: relative;

    .accordion-button {
        border: {
            left: 1px solid #597595 !important;
            right: 1px solid #597595 !important;
        }
    }
}

.accordion-body {
    padding: 0;

    >div:last-child {
        border-bottom: none;
    }
}

[aria-expanded='true'] {
    background-color: #c0dcf4;
}

#title {
    position: fixed;
    display: block;
    width: 100%;
    min-width: 670px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #2c3c6b;
    text-align: center;
    color: white;
    margin-top: 0;
    z-index: 10;
}

.title {
    text-align: center;
    margin-bottom: 20px;

    font: {
        size: 25px;
        weight: bold;
        family: Arial, Helvetica, sans-serif;
    }
}

#editor {
    tr:last-child {
        border-bottom: 2px solid #597595 !important;
    }

    >button {
        position: fixed;
        z-index: 10;
    }
}

#parameters {
    width: 80%;
    min-width: 670px;
    padding-top: 60px;
    margin: 0 auto;

    >div:first-child .group:first-child {
        border: {
            top-left-radius: 5px;
            top-right-radius: 5px;
        }
    }

    >div:last-child .group:first-child {
        border: {
            bottom-left-radius: 5px;
            bottom-right-radius: 5px;
        }
    }

    td {
        padding: 0;
        width: 50%;
        border: none;

        div {
            transition: all 0.6s ease 0s;
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: 0;
            height: 0;
        }
    }

    .group {
        display: flex;
        align-items: center;
        background-color: #d2daef;
        font-weight: bold;
        border: 1px solid #597595;
        margin-top: -1px;
        padding-left: 10px;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        border-radius: 0;

        &:hover {
            background-color: #e7eaf2 !important;
            cursor: pointer;
        }

        div {
            height: 35px;
            padding: 5px;
        }

        &.group-item {
            td {
                &:first-child {
                    border-left: 2px solid #597595 !important;
                }

                &:last-child {
                    border-right: 2px solid #597595 !important;
                }
            }

            div {
                height: 0;
                border: none;
                padding: 0;
            }
        }
    }
}

.group-cont {
    transition: all 0.5s ease 0s;
    padding-left: 10px;

    .group-cont {
        border: none;
    }
}

.reset-context {
    display: inline-block;
    position: fixed;
    z-index: 20;
    min-width: 90px;
    min-height: 30px;
    padding: 5px;

    &:focus {
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    &:hover {
        background-color: #0b5ed7;
    }
}

.param {
    &-text {
        @extend %table-item;
        border-right: 1px solid #78899d;
    }

    &-input {
        input {
            width: 70px;
        }
    }

    &-value {
        @extend %table-item;

        button {
            width: 50px;
            height: 40px;
            text-align: right;
            padding: 5px 10px;
        }
    }
}

.inline-block {
    display: inline-block;
}

:nth-child(1n+2).group {
    border-top: none !important;
}

#work-zone {
    .dev-enabled {
        border-color: red;
    }
}

#save {
    @include img('save.png');
    @include editor-menu-button($left: 60px);
}

#reset {
    @include img('reset.png');
    @include editor-menu-button($left: 110px);
}

#back {
    @include img('back-arrow.png');
    @include editor-menu-button($left: 10px);
}

#export {
    @include img('export.png');
    @include editor-menu-button($right: 30px);
}

#import {
    @include img('import.png');
    @include editor-menu-button($right: 80px);
}

#show-addons {
    @include img('addons.png');
    @include editor-menu-button($right: 125px);
}

.info {
    @extend %table-li;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: white;

    border: {
        left: 1px solid #597595;
        right: 1px solid #597595;
    }
}
