@import "renderer/style";

body {
	overflow: hidden;
	padding: 5px 15px;
}

.main {
	text-align: center;
}

.title {
	margin-top: 10px;
}

.info {
	justify-content: center;
}

.spin {
	margin-top: 20px;

	&-icon {
		font-size: 40px;
		color: #2196f3;
	}
}
