@import 'styles/main';

body {
    background-color: #e7ebf0;
    overflow: overlay;
}

#main > div > .MuiPaper-root {
    margin-bottom: 2px;
    border-radius: 4px;
}

#main .MuiAccordionSummary-root:hover {
    background-color: #e7ebf0;
}

#main .MuiAccordionSummary-content {
    align-items: center;
}

#main .MuiAccordionSummary-root.Mui-expanded {
    background-color: #f7f7f7;
}

#main .MuiAccordion-root .MuiAccordion-root {
    box-shadow: none;
}

.MuiTable-root { margin-bottom: -7px; }
