.not-upper { text-transform: none !important; }

.font-black { color: black !important; }

body {
    margin: 0;
    padding: 0;
}

::-webkit-resizer {
    width: 4px;
    height: 0;
}

::-webkit-scrollbar {
    width: 4px;

    &-thumb {
        border-radius: 0;
        background-color: #808080;

        &:hover { background-color: #c7cfc1; }
    }

    &-track { background-color: #535151; }

    &-button {
        width: 5px;
        height: 0;
    }
}
