@import 'styles/bootstrap/bootstrap.min';

%interact {
    box-shadow: none !important;
    border-width: 1.5px !important;
}

%input {
    padding: 5px;
    font-size: 1em;
    width: 200px !important;
}

body {
    margin: 0;
    margin-top: 24px;
    padding: 0;
    background-color: #deedfb;
}

[v-cloak] {
    display: none;
}

input {
    @extend %interact;
    @extend %input;
}

button {
    @extend %interact;
}

select {
    @extend %interact;
    @extend %input;
    cursor: pointer;
}

#menu {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    background: var(--bs-light);
}


.menu-item button {
    box-shadow: none !important;
}

.dropdown-item {
    text-decoration: none;
    font-size: 0.7em;
}

.dropdown-menu {
    inset: -3px auto auto 0 !important;
}

::-webkit-resizer {
    width: 4px;
    height: 0;
}

::-webkit-scrollbar {
    width: 4px;

    &-thumb {
        border-radius: 0;
        background-color: #808080;

        &:hover {
            background-color: #c7cfc1;
        }
    }

    &-track {
        background-color: #535151;
    }

    &-button {
        width: 5px;
        height: 0;
    }
}

.search {
    position: fixed;
    text-align: center;
    top: 0;
    background: none;
    z-index: 11;
    width: 300px;
    left: 50%;
    margin-left: -150px;

    >label[for='search'] {
        font-size: 0.7em;
        position: relative;
        bottom: 1.5px;
    }
}

#search {
    display: inline-block;
    height: 24px;
    margin-left: 10px;
    font-size: 0.9em;

    &:focus {
        outline: 0 !important {
            color: transparent !important;
            width: 0 !important;
            style: none !important;
        }

        box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
    }
}
