@import './style.css';

body {
    text-align: center;
}

input[type='text']:disabled {
    background: white !important;
}

input[type='checkbox'] {
    width: 15px !important;
    margin-left: 5px;
}

header {
    padding-top: 5px;
    margin-bottom: 20px;
}

header h2 {
    color: white;
}

label {
    font-weight: bold;
}

#live-toast {
    transition: opacity 0.5s ease 0s;
    opacity: 0;
}
