body {
    display: none;
    margin: 0;
    padding: 0;
    background-color: #dceaf7;
}

input, 
select {
    padding: 5px;
    font-size: 1em;
}

#creation-template-zone input:disabled,
#creation-template-zone select:disabled {
    background: #959191;
}

table {
    background: white;
}

body,
button,
pre {
    font-family: 'Arial';
}

button {
    outline: none;
}

button:disabled {
    background: gray;
    box-shadow: none;
    cursor: initial;
}

button:disabled:hover {
    background: gray;
}

.title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#modes > button {
    margin-left: 20px;
    margin-right: 20px;
}

#mode-select {
    transition: opacity 0.25s ease 0s;
    opacity: 1;
    display: block;
}

#translation-template-select {
    transition: opacity 0.5s ease 0s;
    opacity: 1;
    text-align: center;
}

#modes {
    display: flex;
    justify-content: center;
}

#to-download {
    display: none;
}

#save-params {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#editor tr:last-child {
    border-bottom: 2px solid #597595 !important;
}

#parameters td div {
    transition: all 0.6s ease 0s;
    height: 30px;
    overflow: hidden;
    padding: 5px;
}

#parameters,
#edit-translation {
    width: 80%;
    margin: 0 auto;
    border-spacing: 0px;
    border-collapse: collapse;
}

#edit-translation table {
    border-collapse: collapse;
    width: 100%;
}

#edit-translation > table:first-child {
    margin-bottom: 20px;
}

#translation > div.buttons {
    display: flex;
    width: 650px;
    margin: 0 auto;
}

#edit-translation td {
    width: 50%;
    padding: 10px;
    border: 1px solid #597595;
}

#parameters td div {
    display: flex;
    align-items: center;
    padding: 0px;
    height: 0px;
}

#parameters td {
    padding: 0;
    width: 50%;
    border: none;
}

#parameters .group {
    display: flex;
    align-items: center;
    background-color: #d2daef;
    font-weight: bold;
    border: 2px solid #597595;
    padding-left: 15px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

#parameters .group div {
    height: 35px;
    padding: 5px;
}

#parameters .group-item,
#parameters .group.group-item div {
    height: 0px;
    border: none;
    padding: 0;
}

.group:hover {
    background-color: #e7eaf2 !important;
    cursor: pointer;
}

.group-item td:first-child {
    border-left: 2px solid #597595 !important;
}

.group-item td:last-child {
    border-right: 2px solid #597595 !important;
}

#drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 700px;
    height: 500px;
    border: 1px solid #909fe2;
    border-radius: 5px;
    background-color: #b0d6f5;
    cursor: pointer;
}

#language {
    border-radius: 20px;
    outline: none;
    position: absolute;
    top: 25px;
    right: 40px;
    width: 40px;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

header {
    text-align: center;
    background: #2c3c6b;
    padding: 1px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

button {
    padding: 5px;
    -webkit-appearance: none;
    width: 200px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font: normal 17px arial;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    background: rgb(64 87 199);
    box-shadow: 0 -3px rgb(72 53 167) inset;
    transition: 0.2s;
} 
button:hover { background: rgb(64 124 199); }
button:active {
    background: rgb(64 87 199);
    box-shadow: 0 3px rgb(64 87 199) inset;
}

.red-text {
    color: #e3e31b;
}

.gray-text {
    color: #eedcdc;
}

#translation-teplate-select {
    text-align: center;
}

#edit-translation td input {
    width: 90%;
}

#edit-translation .header td {
    font-weight: bold;
    text-align: center;
}

.toggle {
    float: right;
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
  }
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}
  
#developer-mode:checked + .toggle::before {
    background: #fffeb7;
}

.settings-item input:checked + .toggle::before {
    background: #f0efa2;
}

#developer-mode:checked + .toggle span,
.settings-item input:checked + .toggle span {
    background: #faca79;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#developer-mode:checked + .toggle span::before,
.settings-item input:checked + .toggle span::before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

#developer-mode-container {
    color: white;
    font-size: 1em;
    position: absolute;
    font-weight: bold;
    left: 10px;
    top: 30px;
}

#developer-mode-title {
    float: left;
    margin-right: 10px;
}

@media (max-width: 850px) {
    #developer-mode-title {
        display: none;
    }
}

#creation-template-zone {
    margin-top: -32px;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#creation-template-zone::after {
    content: '';
    clear: both;
}

#template-editor {
    width: 70%;
    float: left;
    padding: 20px;
    margin-bottom: 180px;
}

#template-params {
    transition: right 0.2s ease 0s;
    position: fixed;
    color: #c7cfc1;
    right: 0px;
    text-align: center;
    min-width: 270px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    background: #333333;
    border-radius: 3px;
    z-index: 1;
}

#template-params.closed {
    right: -300px;
}

::-webkit-scrollbar-button {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #535151;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border-radius: 0px;
    background-color: #808080;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c7cfc1;
}

::-webkit-resizer {
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 4px;
}

#template-params form {
    position: relative;
    top: -50px;
    padding-top: 50px;
    margin-bottom: -50px;
}

#template-params h3 {
    white-space: nowrap;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

#template-params label {
    width: 100%;
    display: block;
    margin-top: 15px;
}

#template-params input {
    width: 216px;
    padding: 0;
    height: 30px;
}

#template-params select {
    width: 220px;
    height: 30px;
}

#template-elements {
    display: flex;
    width: 100%;
}

.element,
.group-button,
.element-group {
    float: left;
    clear: both;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid #1e1e1e;
}

.element,
.group-button {
    cursor: pointer;
}

.element:hover,
.group-button:hover {
    border: 1px solid lightgray;
    background: #30312e;
}

.element-group > .group-button,
.main-element,
[e-type="Selectors"] {
    margin-left: 0;
}

#template-elements > button {
    float: left;
    clear: both;
    margin-top: 10px;
    width: 150px;
    border-radius: 5px;
    cursor: grab;
    padding: 5px;
}

#template-elements {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    background: #2c3c6b;
    z-index: 2;
}

.group-button,
.element {
    padding: 3px;
    text-align: left;
}

#params-template,
#params-input,
#params-select,
#params-info,
#params-selector,
#params-option,
#params-group,
#add-to-translation {
    display: none;
}

#template-creation,
#template-select {
    transition: opacity 0.5s ease 0s;
    display: none;
    opacity: 0;
}


#template-creation {
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
}

.margined {
    margin-top: 60px;
}

.tag-name {
    color: #5498d0;
}

.attribute-name {
    color: #6dcdf6;
}

.attribute-value {
    color: #b47658;
}

.char {
    color: #737779;
}

#template-template {
    margin-top: 20px;
}

.selected-element {
    background: #30312e;
}

.delete-button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background: red;
    box-shadow: 0 -3px rgb(160 9 9) inset;
    margin: 0;
}

.delete-button:hover {
    background: rgb(160 9 9);
}

.addition {
    position: relative;
    left: -20px;
    display: inline-block;
    background: #2cc62c;
    box-shadow: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 5px;
}

.addition:hover {
    background: #36ec36;
}

#delete-element {
    position: relative;
    bottom: -20px;
}

button.close-params {
    width: 23px;
    height: 23px;
    padding: 0;
    margin: 0;
    background: gray;
    box-shadow: none;
    position: absolute;
    border: none;
    border-bottom-left-radius: 20px;
    padding-left: 4px;
    padding-bottom: 1px;
    top: -2px;
    right: 0;
}

button.close-params:hover {
    background: #e95050;
}

input.with-button {
    position: relative;
    right: -12.5px;
    width: 186px !important;
    padding-right: 30px !important;
}

#settings-button {
    background: url(../icons/settings-icon-default.png);
    position: absolute;
    right: 90px;
    top: 6.5px;
    width: 32px;
    height: 32px;
    padding: 0;
    box-shadow: none;
}

#settings-button:hover {
    background: url(../icons/settings-icon-active.png);
}
 
#settings {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}

.settings-item {
    text-align: center;
    position: relative;
    background: white;
    border: 1px solid gray;
    border-radius: 20px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.settings-item p {
    text-align: left;
    padding-left: 30px;
} 

.disable-toggle-container {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bold {
    font-weight: bold;
}

.setting-delete {
    width: 50px;
    height: 35px;
    padding: 0;
    position: absolute;
    right: 10px;
    bottom: -10px;
    border-radius: 15px;
    background: red;
    box-shadow: 0 -3px rgb(154 13 13) inset;
}

.setting-delete:hover {
    background: #f54e4e;
}

.setting-name {
    padding: 0 20px;
    margin: 0 auto;
    border: 1px solid gray;
    position: relative;
    top: -1px;
    display: inline-block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #cfe0ee;
}

.service-buttons {
    border: 1px solid #4583b4;
    border-bottom: none;
    border-left: none;
    transition: all 0.5s ease 0s;
    border-top-right-radius: 20px;
    width: 200px;
    height: 30px;
    display: flex;
    position: fixed;
    bottom: -43px;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    background: #2c3c6b;
    padding: 5px;
}

.service-buttons::before {
    font-family: 'Arial';
    text-align: center;
    display: block;
    position: absolute;
    height: 12px;
    margin: 0 auto;
    top: -19.5px;
    padding-bottom: 5px;
    right: 0;
    left: 0;
    border: 1px solid black;
    background: #4057c7;
    width: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 15px;
    content: '▲';
}

.service-buttons:hover {
    bottom: 0;
}

.service-buttons:hover::before {
    content: '▼';
}

.service-buttons > div {
    transition: all 0.3s ease 0s;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    cursor: pointer;
}

.service-buttons div:hover {
    filter: brightness(1.2);
}

#templ-dev-mode.enabled {
    filter: brightness(0.9);
    background: url(../icons/dev-mode-enabled.png) 50% no-repeat;
}

#templ-dev-mode.disabled {
    background: url(../icons/dev-mode-disabled.png) 50% no-repeat;
}

#templ-dev-mode.enabled:hover {
    filter: brightness(0.8);
}

#global-parameters,
#global-parameters > button {
    display: none;
}

#test-template {
    background: url(../icons/test-template.png) 50% no-repeat;
    height: 38px;
    width: 36px;
    position: relative;
    bottom: 2px;
    right: 1px;
}

#save-template {
    background: url(../icons/save-template.png) 50% no-repeat;
}

#templ-dev-mode {
    height: 29px;
    position: relative;
    top: 2px;
}

.element::before, .element-group::before {
    height: 110%;
    content: '';
    position: absolute;
    border-left: 1px solid gray;
    left: -20px;
    top: 0;
    z-index: 1;
}
.element-group::before {
    height: 102%;
}

.element-group,
.element {
    position: relative;
}

.main-element::before,
[e-type="Selectors"]::before {
    content: none;
}

.group-cont {
    display: none;
    transition: all 0.5s ease 0s;
    overflow: hidden;
    border: 2px solid #597595;
    border-top: none;
    border-bottom: none;
    background: white;
    width: 100%;
    box-sizing: border-box;
}

.info, 
.param {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #597595;
    box-sizing: border-box;
}

.param-text,
.param-value {
    float: left;
    display: inline-flex;
    align-items: center;
    width: 49.8%;
    box-sizing: border-box;
    padding-left: 20px;
    height: 100%;
}

.param-text {
    border-right: 2px solid #597595;
}

.group {
    margin-top: 5px;
}

.group-cont .group {
    margin-top: 0;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.group-cont .group-cont {
    border: none;
}

#work-zone .dev-enabled {
    border-color: red;
}

div.param-input input {
    margin-right: 10px;
    width: 70px;
}

footer span {
    font-weight: bold;
    position: fixed;
}

#editor-author {
    right: 10px;
    bottom: 20px;
}

#editor-version {
    left: 10px;
    bottom: 20px;
}

.param-value button {
    width: auto;
    padding: 10px;
    margin: 0;
}