@import '../../../styles/main.css';

body {
    background: #fff;
}

#main {
    position: relative;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#header {
    margin-top: 0;
    text-align: center;
}

#buttons {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 5px;
    justify-content: center;
}

button {
    margin-right: 20px;
}
