@mixin img($name) {
    background: url(images/icons/list/#{$name}) 50% no-repeat;
}

.item {
    transition: all 0.5s ease 0s;
    position: relative;
    width: 250px;
    height: 350px;
    background: white;
    word-wrap: normal;
    text-align: center;
    border-radius: 5px;

    margin: {
        bottom: 10px;
        right: 5px;
    }

    .delete-mod {
        display: none;
        position: absolute;
        top: 4px;
        right: 5px;
        border: none;
        background: none;
        color: white;

        &:hover {
            color: red;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            filter: brightness(0.8);
        }
    }

    &-text {
        transition: all 0.5s ease 0s;
        width: 100%;
        padding: 5px 0;
        background: black;
        color: white;
        position: absolute;
        top: 0;
        left: 0;

        border: {
            top-right-radius: 5px;
            top-left-radius: 5px;
        }

        z-index: 1;
    }

    &:hover {
        .item-text {
            color: yellow;
        }

        .delete-mod,
        .toggle-favorite {
            display: block;
        }
    }

    .toggle-favorite {
        display: none;
        position: absolute;
        top: 4px;
        left: 6px;
        height: 24px;
        width: 24px;
        border: none;
        z-index: 2;

        &.filled {
            cursor: pointer;
            display: block;
            @include img('filled_star.png');

            &:hover {
                filter: brightness(2);
            }
        }

        &.empty {
            cursor: pointer;
            @include img('empty_star.png');
            filter: invert(1);

            &:hover {
                filter: invert(1) brightness(2);
            }
        }
    }
}
