.mods-popup {
    display: flex;
    position: fixed;
    overflow: hidden;
    transition: 0.2s;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    z-index: 2;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background: rgb(34 33 33 / 69%);

    .content {
        display: inline-block;
        background-color: white;
        padding-bottom: 10px;
        border-radius: 7px;
        z-index: 3;
        min-width: 280px;
        min-height: 290px;

        .save-mods {
            margin-top: 10px;
            width: 200px;
            font-size: 20px;
        }

        button {
            border: none;
            padding: 5px;
            border-radius: 5px;
        }

        ul {
            display: flex;
            padding: 10px 0;
            flex-direction: column;
            justify-content: flex-start;
            font-weight: bold;
            margin: 0 15px;
            min-height: 155px;

            li {
                display: flex;
                margin-bottom: 3px;
                width: 100%;
                justify-content: space-between;

                .check-mod {
                    position: relative;
                    border: none;
                    display: inline-block;
                    padding: 0;
                    font-size: 20px;
                    height: 24px;
                    width: 24px;
                    top: 2px;
                    cursor: pointer;
                    margin-left: 10px;

                    &.add {
                        background: url(images/icons/list/add.png) 50% no-repeat;
                    }

                    &.remove {
                        background: url(images/icons/list/remove.png) 50% no-repeat;
                    }

                    &:hover {
                        filter: brightness(1.5);
                    }
                }
            }
        }

        header {
            background: #2c3c6b;
            color: white;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding: 5px;
            font-size: 18px;
        }
    }

}
