@import "renderer/style";

body {
    background-color: #e7ebf0;
    overflow: auto;
}

#main {
    > div > .MuiPaper-root {
        margin-bottom: 2px;
        border-radius: 4px;
    }

    .MuiAccordionSummary {
        &-root:hover {
            background-color: #e7ebf0;
        }
        &-root.Mui-expanded {
            background-color: #f7f7f7;
        }
        &-content {
            align-items: center;
        }
    }

    .MuiAccordion-root .MuiAccordion-root {
        box-shadow: none;
    }
}

.MuiTable-root {
    margin-bottom: -7px;
}
