.openCont {
    position: relative;
    display: inline-block;
    top: 3px;

    .openFile {
        margin-right: 30px;
    }

    .file-export {
        position: absolute;
        width: 20px !important;
        margin: 0;
        top: 14px;
        right: 10px;
    }
}
