@import "renderer/style";

body {
    text-align: center;
    background: white;
}

.steps {
    padding: 0 55px;
    margin-top: 10px;

    &-content {
        margin-top: 20px;
    }

    &-actions {
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
}

.game-folder {
    margin-top: 40px;
}

.folder-button {
    margin-right: 30px;
}
