body {
    font-family: "Andale Mono";
    font-size: 17px;
    background: black;
    color: white;
}

#messages {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

#info {
    color: limegreen;
    border: none;
    background: black;
    overflow: hidden;
    position: absolute;
    bottom: 30px;
    outline: none;
}

#messages::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0; 
}

#messages > p {
    margin: 5px 0px;
}

.line {
    color: cyan;
    position: fixed;
    padding: 10px;
    background: black;
    bottom: 0;
    left: 0;
    width: 100%;
}

#input {
    border: none;
    font-size: inherit;
    font-family: inherit;
    background: none;
    outline: none;
    color: inherit;
    width: 90%;
}
